/* Had trouble using hex values w/ styled components, here are rgba values:

Green 4 (darkest)
  rgba(42, 72, 78, 1)

Green 3
  rgba(55, 115, 117, 1)

Green 2
  rgba(168, 216, 205, 1)

Green 1 (lightest)
  rgba(221, 239, 227, 1)

*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Text', serif;
  color:white;
}

p {
  font-family: 'Open Sans', sans-serif;
}
body {
  line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

#login-modal h5.modal-title {
  color: black;
}

.success-container {
  width: 80%;
    margin: 0 auto;
    color: white;

}


.fade-appear{
  opacity:0;
  z-index:1;
  transition: 1000ms ease-out;
}

.fade-appear-active{
  opacity:1;
  transition: 1000ms ease-out;
}

.fade-appear.fade-appear-active{
  opacity:1;
  transition: 1000ms ease-out;

}