*{
  font-family: "Open Sans", sans-serif;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
  color:white;
}

body {
  line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

#login-modal h5.modal-title {
  color: black;
}

.success-container {
  width: 80%;
    margin: 0 auto;
    color: white;

}


.fade-appear{
  opacity:0;
  z-index:1;
  transition: 1000ms ease-out;
}

.fade-appear-active{
  opacity:1;
  transition: 1000ms ease-out;
}

.fade-appear.fade-appear-active{
  opacity:1;
  transition: 1000ms ease-out;

}
.logo-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}
@media screen and (max-width: 600px) {
  .logo-wrapper{
    margin-left: 0;
  }
}